* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.projects-container {
  max-width: 1000px;
  margin: auto !important;
  margin-top: 50px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px 0px;
  gap: 20px;
}
.project {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 5px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px black;
}
.project a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.project img {
  border-radius: 10px;
}
.project h2 {
  color: white;
  background-color: black;
  border-radius: 10px;
}
.project:hover {
  box-shadow: 1px 1px 30px rgb(0, 0, 0);
}
.project-title{
  text-align: center;
  margin-top: 40px ;
}