* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-footer {
  background-image: linear-gradient(
    to right,
    rgb(120, 119, 119),
    rgb(190, 190, 190)
  );
  padding: 10px;
  margin: 100px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  box-shadow: 2px 3px 5px gray;
}
.logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 500px;
  height: 50px;
}
.logo:hover {
  cursor: pointer;
  color: rgb(13, 238, 231);
  text-shadow: 1px 1px 10px rgb(0, 0, 0);
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  font-size: 20px;
  background-color: transparent;
  color: rgb(13, 238, 231);
  text-shadow: 1px 1px 10px rgb(0, 0, 0);
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -45px;
  text-align: center;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  margin-bottom: 5px;
}
.info {
  font-weight: 700;
}
.tooltip a {
  color: black;
}
