body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.main-contact {
  background-image: linear-gradient(to right, rgb(208, 206, 206), white);
  box-shadow: inset 1px 2px 10px gray;
  border-radius: 10px;
  display: block;
  max-width: 500px;
  margin: auto;
  margin-top: 100px;
  padding: 10px;
}
.contact-title {
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}
.whatsapp {
  margin: 20px;
}
.email {
  margin: 20px;
}
.whatsapp a {
  margin: 5px;
}
.email a {
  margin: 5px;
}
